@media only screen and (max-width:991px) {
    div.about{
        text-align: center;
        padding-right: 0;
    }
    button.btn-nav{
        display: none;
    }
}
@media only screen and (max-width:767px) {
    a.navbar-brand{
        padding-left: 0;
    }
}